.MenuEsquerdo{
    background-color: black;
    width: 301px;
    height: 796px;
}

.MenuEsquerdo img{
    margin-top: 20px;
    margin-left: 30px;
}

.MenuEsquerdo p{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
    letter-spacing: -0.06em;
    color: #FFFFFF;
}

.MenuEsquerdo .esquerda_sup, .esquerda_med{
    display: flex;
    margin-bottom: 20px;
}


.MenuEsquerdo .imagens{
    flex-direction: column;
    margin-right: 0px;
}

.MenuEsquerdo .imagens img{
   margin-left: 33px;
}

.MenuEsquerdo .textos{
    margin-left: 23px;
}

.MenuEsquerdo .textos p{
    margin-bottom: 0px;
    margin-top: 23px;
}